# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.i*

# OS or Editor files
ehthumbs.db
Thumbs.db
.DS_Store
Desktop.ini
.vscode/
*.suo
*.user
*.userosscache
*.sln.docstates
.ipch/
[Bb]in/
[Oo]bj/
[Dd]ebug*/
[Rr]elease*/
[Aa][Pp][Pp][Dd][Aa][Tt][Aa]/
*.sdf
*.opensdf

# CMake build directory
CMakeFiles/
CMakeCache.txt
CMakeScripts/
Testing/
CTestTestfile.cmake
